<h1>Admin Dashboard</h1>

<table class="table table-bordered">
  <tr>
    <td>
    <%= link_to 'http://localhost:3000/admin/products' do %>
      <p>Total Products in Database:</p>
    <% end %>
    </td>
    <td>
    <%= link_to 'http://localhost:3000/admin/products' do %>
      <%= @products_count %>
    <% end %>
    </td>

    <td>
    <p>Number of Categories:</p>
    </td>
    <td>
    <%= @categories_count %>
    </td>
  </tr>
</table>
